<!-- Blog Section -->
<section id="blog" class="bg-light-gray">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading" style="color:#{{ site.data.template.color.primary }}">Blog</h2>
    </div>
    <div class="blog-flex">
        {% for blog in site.blogs %}
            <div class="blog-body">
                <img class="blog-image" src="{{ blog.pic }}">
                <h3 class="blog-heading"> {{ blog.title }} </h3>
                <div class="blog-content text-muted"> {{ blog.content }} </div>
            </div>
            <hr class="blog-break">
        {% endfor %}
    </div>
</section>