<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="client-flex row">
                <div class="client-img-container">
                    <a href="https://www.iiitdm.ac.in/">
                        <img src="img/logos/iiitdm.png" class="client-img" alt="">
                    </a>
                </div>
                <div class="client-img-container">
                    <a href="https://technobotix.in/">
                        <img src="img/logos/techbotix.png" class="client-img" alt="">
                    </a>
                </div>
                <div class="client-img-container">
                    <a href="https://www.veyyil.com/">
                        <img src="img/logos/envato.jpg" class="client-img" alt="">
                    </a>
                </div>
                <div class="client-img-container">
                    <a href="https://www.ansys.com/">
                        <img src="img/logos/ansys.png" class="client-img" alt="">
                    </a>
                </div>
                <div class="client-img-container">
                    <a href="https://www.solidworks.com/">
                        <img src="img/logos/solidworks.png" class="client-img" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
