<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What we do</h2>
                </div>
            </div>
            <div class="row text-center row-flex">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Hackathons</h4>
                    <p class="text-muted">Hackathons are the place where we sharpen our skills by solving real world problems</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Funded Projects</h4>
                    <p class="text-muted">Apart from Hackathons,we get funded projects from industries to gain exposure to the industry demands</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Workshops</h4>
                    <p class="text-muted">Whatever we learn, we share. In a conscious effort to build a community around robotics, we conduct regular workshops on software we learn to use in projects and hackathons</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flag-checkered fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Competions</h4>
                    <p class="text-muted">Robotics club has a competitive team exclusively for participating in competitions</p>
                </div>
            </div>
        </div>
    </section>
